@CHARSET "UTF-8";

.simpleslider_link {
	outline: none;
}

.simpleslider_controls {
    text-align:center;
    display:block;
	font-size: 0.75em; 	
	width: 100%;
}

.simpleslider_counter {
	display: inline;
}

.simpleslider_show {
    display:block;
    margin:10px auto;
    margin-bottom:25px;
}

.simpleslider_imageinfo  {
    margin:10px auto;
    display:block;
    width:100%;
}
